option_settings:
  aws:elbv2:loadbalancer:
    AccessLogsS3Enabled: false

  aws:elasticbeanstalk:environment:process:default:
    DeregistrationDelay: '20'
    HealthCheckInterval: '15'
    HealthCheckPath: /health
    HealthCheckTimeout: '5'
    HealthyThresholdCount: '3'
    UnhealthyThresholdCount: '5'
    Port: '80'
    Protocol: HTTP
    StickinessEnabled: 'true'
    StickinessLBCookieDuration: '43200'


  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: 'true'
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:329511059546:certificate/1954b503-9a12-4a7b-9d0f-56fff00bea34

  aws:elasticbeanstalk:environment:process:https:
    Port: '443'
    Protocol: HTTPS
